<div class="agiliste">
    <a href="mailto:info@xebia.fr?subject=Adopter un agiliste" class="agiliste-miniature">
        <img src="{{image_url}}" alt="{{name}}"
                />

        <div class="mask">
            <div class="adopt-me-marker"></div>
        </div>
        <div class="adopt-me">
            <span class="link-to-adopt">Adoptez moi&nbsp;!</span>
        </div>

    </a>

    <div class="title">{{title}}</div>
    <div class="description">{{description}}</div>
</div>