<div class="agiliste">
    <a href="" class="agiliste-miniature">
        <img src="{{image_url}}" alt="{{name}}"
                />

        <div class="mask">
            <div class="adopt-me-marker"></div>
        </div>
        <div class="adopt-me">
            <span>Adoptez moi&nbsp;!</span>
        </div>

    </a>

    <div class="title">{{title}}</div>
    <div class="description">{{description}}</div>
</div>